.Outline {
	padding-block: clamp(18px, 8vw, 80px);
	.content {
		display: flex;
		justify-content: space-between;
		gap: 40px;
		@media (max-width: 600px) {
			flex-direction: column-reverse;
		}
		.left {
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: clamp(20px, 4vw, 40px);
			width: 100%;
			max-width: 450px;
			.plan {
				display: flex;
				flex-direction: column;
				gap: clamp(1px, 1vw, 10px);
				&:nth-child(1) > .number {
					background: #82cbac;
				}
				&:nth-child(2) > .number {
					background: #ff7f96;
				}
				&:nth-child(3) > .number {
					background: #ead71b;
				}
				.number {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 57px;
					height: 35px;
					border-radius: 30px;
				}
				.title {
					font-weight: 700;
					font-style: Bold;
					font-size: clamp(20px, 3vw, 35px);
					// line-height: 36px;
					letter-spacing: 0.48px;
				}
				.description {
					font-weight: 300;
					font-style: Regular;
					font-size: clamp(10px, 5vw, 18px);
					line-height: clamp(18px, 3vw, 26px);
					letter-spacing: 0.48px;
				}
			}
		}
		.right {
			img {
				width: 100%;
				max-width: 552px;
				height: 100%;
			}
		}
	}
}
