.Work {
	padding-block: clamp(18px, 8vw, 80px);
	.content {
		display: flex;
		gap: 40px;
		@media (max-width: 600px) {
			flex-direction: column;
		}
		.left {
			img {
				width: 100%;
				max-width: 552px;
				height: 100%;
			}
		}
		.right {
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: clamp(10px, 5vw, 25px);
			width: 100%;
			max-width: 552px;
			.text {
				font-weight: 400;
				font-size: 35px;
				line-height: 36px;
				letter-spacing: 0.48px;
				text-transform: uppercase;
			}
			.title {
				font-weight: 400;
				font-size: clamp(24px, 4vw, 48px);
				line-height: clamp(16px, 5vw, 48px);
				letter-spacing: 0.48px;
			}
			.description {
				font-weight: 400;
				font-style: Regular;
				font-size: 18px;
				line-height: 26px;
				letter-spacing: 0.48px;
			}
		}
	}
}
